<html>
<head>

<!--BOTON-->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">


<!--BOTON-->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--cajas de texto-->
<!-- Material Design Lite -->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/css/password-recovery.css">
</head>
<body>

	<!--formulario LOGUEO-->
	<center>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">

			<center>
				<div class="mdl-card__actions mdl-card--border">
					<h4>Recuperación de contraseña</h4>
				</div>
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="email">
					<label class="mdl-textfield__label" for="email">correo
						electrónico</label> <span class="mdl-textfield__error"></span>
				</div>

			</center>

			<div class="mdl-card__actions mdl-card--border">
				<button id="recuperacionDeCuentaButton"
					class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					Enviar</button>

			</div>
			<div class="mdl-card__actions mdl-card--border">
				<p id="token_sent_confirmation"></p>
				<p id="token_error"></p>
			</div>
	</center>
	</div>
	</center>
</body>
</html>