<html>
<head>

<!--BOTON-->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--cajas de texto-->
<!-- Material Design Lite -->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/css/password-change.css">

</head>
<body>
	<center>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<div class="mdl-card__actions mdl-card--border">
				<h4>Cambio de Contraseña</h4>
			</div>
			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password" id="password">
				<label class="mdl-textfield__label" for="password">Nueva
					contraseña</label> <span class="mdl-textfield__error"></span>
			</div>
			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="password"
					id="confirm-password"> <label class="mdl-textfield__label"
					for="confirm-password">Repite la nueva contraseña</label> <span
					class="mdl-textfield__error"></span>
			</div>

			<div class="mdl-card__actions mdl-card--border">
				<button id="password-change-button" href="marca/Marca.html"
					class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
					href="crearUsuario.html">Enviar</button>
			</div>
		</div>
	</center>
</body>
</html>