<html>
<head>

<!--BOTON-->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--BOTON-->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--cajas de texto-->
<!-- Material Design Lite -->
<script src="https://code.getmdl.io/1.2.0/material.min.js"></script>
<link rel="stylesheet"
	href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="/css/login.css">

</head>

<body>
	<br>
	<br>
	<!--formulario LOGUEO-->
	<center>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			<center>
				<div class="mdl-card__actions mdl-card--border">
					<h4>Iniciar Sesión</h4>
				</div>
				<div class="columna">
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="username">
					<label class="mdl-textfield__label" for="username">Usuario</label>
				</div>
				</div>
				<div class="columna">
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" id="password">
					<label class="mdl-textfield__label" for="password">Contraseña</label>
					<span class="mdl-textfield__error"></span>
				</div>
				</div>
				
				
				<div>
					<p id="auth_error_message"></p>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<button id="loginButton"
						class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Entrar</button>
					<h6>
						<a href="/#/password-recovery">¿Has olvidado tu contraseña?</a>
					</h6>
				</div>
			</center>
		</div>
	</center>
</body>
</html>