<div class="poli-booking-reserva-event mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
        <h4>Tipo: <%= bloque.espacio.tipoEspacio %> <br/>
            Nombre: <%= bloque.espacio.nombre %> <br/>
            Día: <%= bloque.dia.toLocaleDateString() %> <br/>
            Inicio: <%= bloque.tiempoInicio.toLocaleTimeString() %> <br/>
            Fin: <%= bloque.tiempoFin.toLocaleTimeString() %>
        </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a
                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Añadir al calendario</a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">event</i>
    </div>
    <div class="mdl-card__menu">
        <button class="poli-booking-reserva-cancelar-boton mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">delete_forever</i>
        </button>
    </div>
</div>