<div id="container">
    <div class="mdl-layout mdl-js-layout">
        <div id="poli-booking-header"></div>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout__title">Poli Booking</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#">Link1</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div id="poli-booking-content">Cargando....</div>
        </main>
         <footer >
        <div id="poli-booking-footer"></div>
       </footer>
    </div>
</div>
