<html>
<style type="text/css">
.demo-card-wide.mdl-card {
    width: 85%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 40%;
    background: url('http://previews.123rf.com/images/maglara/maglara1507/maglara150700044/43526326-E-libro-concepto-de-biblioteca-con-el-ordenador-port-til-y-los-libros-Foto-de-archivo.jpg') center/cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.columna {
    width: 33%;
    float: left;
}

@media ( max-width: 500px) {
    .columna {
        width: auto;
        float: none;
    }
}

body {
    padding: 20px;
    background: #fafafa;
    position: relative;
}
</style>
<head>
    <title></title>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<!-- Wide card with share menu button -->
<center>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 style="font-size: 60px" class="mdl-card__title-text">Biblioteca</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="columnaC">
                <h1 style="align: center">HOY</h1>
                <div class="columna">
                    <h5>Salas de video</h5>
                    <button id="demo-show-snackbar"
                            class="mdl-button mdl-js-button mdl-button--raised" type="button">Reservar
                    </button>
                    <div id="demo-snackbar-example"
                         class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                </div>
                <div class="columna">
                    <h5>20 cupos</h5>
                    <h5>Salas de estudio</h5>
                    <button id="demo-show-snackbar"
                            class="mdl-button mdl-js-button mdl-button--raised" type="button">Reservar
                    </button>
                    <div id="demo-snackbar-example"
                         class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                </div>
                <div class="columna">
                    <h5>20 cupos</h5>
                    <h5>Computadores</h5>
                    <button id="demo-show-snackbar"
                            class="mdl-button mdl-js-button mdl-button--raised" type="button">Reservar
                    </button>
                    <div id="demo-snackbar-example"
                         class="mdl-js-snackbar mdl-snackbar">
                        <div class="mdl-snackbar__text"></div>
                        <button class="mdl-snackbar__action" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-card__supporting-text">
            <h1 style="align: center">Espacios disponibles</h1>


            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02);">
                        <img style="width: 100%"
                             src="http://previews.123rf.com/images/armpannawat/armpannawat1506/armpannawat150600003/40920099-Mesa-de-madera-vac-a-y-moderno-fondo-de-biblioteca-exposici-n-de-productos-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Salas de video</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02);">
                        <img style="width: 100%"
                             src="http://previews.123rf.com/images/armpannawat/armpannawat1506/armpannawat150600003/40920099-Mesa-de-madera-vac-a-y-moderno-fondo-de-biblioteca-exposici-n-de-productos-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Salas de estudio</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>

            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02);">
                        <img style="width: 100%"
                             src="http://previews.123rf.com/images/armpannawat/armpannawat1506/armpannawat150600003/40920099-Mesa-de-madera-vac-a-y-moderno-fondo-de-biblioteca-exposici-n-de-productos-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Computadores</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a
                                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="mdl-card__actions mdl-card--border">
            <br> <a
                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Haz tu reserva </a> <br> <br>
        </div>
         -->
    </div>
</center>
</body>
</html>