<style type="text/css">
    .demo-card-wide.mdl-card {
        width: 90%;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 60%;
        background: url('http://www.poli.edu.co/sites/default/files/styles/institutional_top/public/campus.jpg?itok=su5NtRNU') center/cover;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .columna {
        width: 33%;
        float: left;
    }

    @media ( max-width: 500px) {
        .columna {
            width: auto;
            float: none;
        }
    }

    body {
        padding: 20px;
        background: #fafafa;
        position: relative;
    }
</style>
<head>
    <title></title>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<center>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 style="font-size: 300%" class="mdl-card__title-text">Bienvenido
                a Poli-Booking</h2>
        </div>
        <div class="mdl-card__supporting-text"></div>
        <div class="mdl-card__supporting-text">
            <h2 style="font-size: 220%">Espacios disponibles para ti</h2>


            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 100%"
                             src="http://previews.123rf.com/images/maglara/maglara1507/maglara150700044/43526326-E-libro-concepto-de-biblioteca-con-el-ordenador-port-til-y-los-libros-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Espacios en Biblioteca</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/biblioteca"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 81%"
                             src="http://previews.123rf.com/images/vyshniakova/vyshniakova1505/vyshniakova150500037/40294745-Art-culos-de-fitness-en-el-fondo-de-madera-Zapatillas-de-deporte-botella-de-auriculares-de-agua-toal-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Areas de gimnasio</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/gimnasio"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>

            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 100%"
                             src="http://previews.123rf.com/images/kireewongfoto/kireewongfoto1505/kireewongfoto150500012/39958718-pelotas-de-tenis-en-pista-de-hierba-de-tenis-Foto-de-archivo.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Canchas deportivas</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/canchas"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <br> <a
                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Haz tu reserva </a> <br> <br>
        </div>
    </div>
</center>

</body>

