<style type="text/css">
    .demo-card-wide.mdl-card {
        width: 90%;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 120px;
        background-image: url('img/laboratorios-back.jpg');
        background-position: center;
        background-size: cover;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .columna {
        width: 25%;
        float: left;
    }

    @media ( max-width: 500px) {
        .columna {
            width: auto;
            float: none;
        }
    }

    body {
        padding: 20px;
        background: #fafafa;
        position: relative;
    }
</style>
<head>
    <title></title>
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<center>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 style="font-size: 300%" class="mdl-card__title-text">Laboratorios</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 112%"
                             src="img/fisica.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Fisica</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/calendario-espacio?tipo-espacio=LABORATORIO_FISICA"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 100%"
                             src="img/quimica.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Quimica</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/calendario-espacio?tipo-espacio=LABORATORIO_QUIMICA"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>

            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 100%"
                             src="img/electronica.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Electronica</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/calendario-espacio?tipo-espacio=LABORATORIO_ELECTRONICA"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
        
            <div class="columna">
                <div
                        class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp"
                        style="width: calc(100% - 16px);">
                    <figure class="mdl-card__media"
                            style="background-color: rgba(255, 255, 255, 0.02); -webkit-margin-start: 0px; -webkit-margin-end: 0px;">
                        <img style="width: 112%"
                             src="img/teleco.jpg"
                             alt="">
                    </figure>
                    <div class="mdl-card__title">
                        <center>
                            <h1 class="mdl-card__title-text">Telecomunicaciones</h1>
                        </center>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a href="/#/calendario-espacio?tipo-espacio=LABORATORIO_TELECO"
                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           data-upgraded=",MaterialButton,MaterialRipple">Ver<span
                                class="mdl-button__ripple-container"><span
                                class="mdl-ripple"></span></span></a>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
</body>